.body2 {
   background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('https://i.pinimg.com/originals/a6/40/65/a6406507039471cc6cc9fc178813233a.jpg');
   background-size: cover;
   background-position: center;
}

.bodyindex {
   font-family: Arial;
   background: #ffffb9;
}

.bodyhome {
   background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('https://images.openai.com/static-rsc-4/K3PdIHOesjLOFdiZpkJ27ndP08dppVxSSiBOasS61AqAZmE5bTh1-x_xJplXe0sfPnmL0R53HjJErVgiMpaCmdDBBCeB6qvBN-mt8Rm9LBWHXD3731jzcWBP9mIb5qpPFVzBBqlL8LYstBlD8DiNKkNy5YTo_tEIG_8tlRkZJCtYhyKx32fYAHNTkbbGbIYk?purpose=fullsize');
   background-size: cover;
   background-position: center;
}

nav {
   background: #333;
   padding: 1rem;
   text-align: center;
   width: max-content;
   margin-top: 1rem;
   margin: auto;
   text-decoration: none;
}

nav a {
   color: #fff;
   margin: 0 .5rem;
   text-decoration: none;
}

nav a:hover {
   color: #00ff80;
}

section {
   padding: 2rem;
}

.image-button {
   display: inline-block;
   cursor: pointer;
   transition: transform 0.3s ease;
   transform-origin: center;
   width: clamp(150px, 25vw, 250px);
}

.image-button img {
   width: 100%;
   display: block;
}

.image-button .image-text {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%)rotate(4deg);
   color: #00ff80;
   font-weight: bold;
   text-align: center;
   font-size: 1.4rem;
}

.image-button:hover {
   transform: scale(1.3);
}

.frame {
   width: 90%;
   height: 90vh;
   display: block;
   border: #333 solid 3px;
   margin: 0 auto;
}

#btn0 {
   position: absolute;
   top: 25%;
   left: 3%;
}

#btn0 .image-text {
   position: absolute;
   top: 65%;
   left: 50%;
   transform: translate(-50%, -50%)rotate(5deg);
   color: #00ff80;
   font-weight: bold;
   text-align: center;
   font-size: 1.4rem;
}

#btn1 {
   position: fixed;
   bottom: 30px;
   right: 47px;
}

#btn1 .image-text {
   position: absolute;
   top: 58%;
   left: 44%;
   transform: translate(-50%, -50%)rotate(-26deg);
   color: #100058;
   font-weight: bold;
   font-size: 2rem;
   text-align: center;
}

#btn2 {
   position: absolute;
   top: 60%;
   left: 40%;
   transform: rotate(20deg);
}

#btn2:hover {
   transform: rotate(20deg) scale(1.3);
}

#btn2 .image-text {
   position: absolute;
   top: 54%;
   left: 54%;
   transform: translate(-50%, -50%)rotate(-23deg);
   color: #00ff80;
   font-weight: bold;
   text-align: center;
   font-size: 1.4rem;
}

#btn3 {
   position: absolute;
   top: 25%;
   left: 40%;
}

#btn3 .image-text {
   position: absolute;
   top: 55%;
   left: 50%;
   transform: translate(-50%, -50%)rotate(4deg);
   color: #00ff80;
   font-weight: bold;
   text-align: center;
   font-size: 1.4rem;
}

#btn4 {
   position: absolute;
   top: 45%;
   left: 20%;
}

#btn4 .image-text {
   position: absolute;
   top: 65%;
   left: 50%;
   transform: translate(-50%, -50%)rotate(4deg);
   color: #00ff80;
   font-weight: bold;
   text-align: center;
   font-size: 1.4rem;
}

#btn5 {
   position: absolute;
   top: 60%;
   left: 03%;
}

#btn5 .image-text {
   position: absolute;
   top: 67%;
   left: 50%;
   transform: translate(-50%, -50%)rotate(5deg);
   color: #00ff80;
   font-weight: bold;
   text-align: center;
   font-size: 1.4rem;
}

.Hoofdtekst {
   text-align: center;
   color: #000000;
   font-size: 200%;
}

.Inhoud {
   text-align: start;
   color: #000000;
   font-size: 150%;
}

#loginForm {
   padding: 10%;
   width: 50%;
   margin: auto;
}

#input {
   width: 100%;
   padding: 12px;
   margin-bottom: 15px;
   border: 1px solid #ccc;
   border-radius: 5px;
   box-sizing: border-box;
}

#loginButton {
   width: 100%;
   padding: 12px;
   border: none;
   background: #007bff;
   color: white;
   border-radius: 5px;
   cursor: pointer;
   font-size: 16px;
}

#loginButton:hover {
   opacity: 0.9;
}

#message {
   text-align: center;
   margin-bottom: 15px;
}